**/.dockerignore
**/.env
**/.env.*
**/.git
**/.github
**/.gitignore
**/.idea
**/.next
**/.vercel
**/.vscode
**/coverage
**/node_modules
**/npm-debug.log*
**/out
**/yarn-debug.log*
**/yarn-error.log*
**/*.md
**/*.tsbuildinfo
Dockerfile*
docker-compose*
